<?xml version='1.0' encoding='utf-8' ?>
    <widget id="angelita.whatsDule" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
        <name>WhatsDule</name>
        <description>Schedule your whatsApp for the future</description>
        <author email="angel.jesuita@gmail.com" href="http://www.twitter.com/angelitq_">Ángel Hita</author>
        <content src="index.html" />
	<access origin="*"/>
    <preference name="android-minSdkVersion" value="14" />
    <preference name="SplashScreen" value="screen" />
  	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
  	<preference name="DisallowOverscroll" value="true"/>
  	<preference name="SplashScreenDelay" value="2000"/>
  	<preference name="FadeSplashScreenDuration" value="2000"/>
  	<preference name="android-minSdkVersion" value="14"/>
  	<preference name="BackupWebStorage" value="none"/>

	<feature name="StatusBar">
    		<param name="ios-package" onload="true" value="CDVStatusBar"/>
  	</feature>

	<feature name="SplashScreen">
	    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
	    <param name="onload" value="true"/>
	</feature>

  	<plugin name="cordova-plugin-device" spec="~1.1.3"/>
  	<plugin name="cordova-plugin-console" spec="~1.0.4"/>
  	<plugin name="cordova-plugin-whitelist" spec="~1.3.0"/>
  	<plugin name="cordova-plugin-splashscreen" spec="~4.0.0"/>
  	<plugin name="cordova-plugin-statusbar" spec="~2.2.0"/>
  	<plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
  	<plugin name="cordova-plugin-contacts-phonenumbers" spec="~0.0.8"/>
  	<plugin name="cordova-plugin-x-socialsharing" spec="~5.1.0"/>
	
        <platform name="android">
            <allow-intent href="market:*" />

            <icon density="ldpi" src="resources/android/icon/icon36x36.png" />
            <icon density="mdpi" src="resources/android/icon/icon48x48.png" />
            <icon density="hdpi" src="resources/android/icon/icon72x72.png" />
            <icon density="xhdpi" src="resources/android/icon/icon96x96.png" />

            <splash density="land-ldpi" src="resources/android/splash/splash320x200.png" />
            <splash density="land-mdpi" src="resources/android/splash/splash480x320.png" />
            <splash density="land-hdpi" src="resources/android/splash/splash800x480.png" />
            <splash density="land-xhdpi" src="resources/android/splash/splash1280x720.png" />
            <splash density="land-xxhdpi" src="resources/android/splash/splash1600x960.png" />
            <splash density="land-xxxhdpi" src="resources/android/splash/splash1920x1280.png" />

            <splash density="port-ldpi" src="resources/android/splash/splash200x320.png" />
            <splash density="port-mdpi" src="resources/android/splash/splash320x480.png" />
            <splash density="port-hdpi" src="resources/android/splash/splash480x800.png" />
            <splash density="port-xhdpi" src="resources/android/splash/splash720x1280.png" />
            <splash density="port-xxhdpi" src="resources/android/splash/splash960x1600.png" />
            <splash density="port-xxxhdpi" src="resources/android/splash/splash1280x1920.png" />
        </platform>

        <engine name="android"/>
    </widget>
