<div ng-controller="BagoazGaiak" style="padding-top: 130px;padding-left: 5px;padding-right: 5px">
    <!--div ng-repeat="n in [1,2,3]">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveScreen('bagoazIkusi/')">{{n}} Gaia</button>
    </div-->
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveScreen('bagoazIkusi/1')">1 Gaia</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveScreen('bagoazIkusi/2')">2 Gaia</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveScreen('bagoazIkusi/3')">3 Gaia</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveScreen('bagoazIkusi/4')">4 Gaia</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="moveScreen('bagoazIkusi/5')">5 Gaia</button>
</div>