<html>

<head>
    <title>Gessami</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-new-router/dist/router.es5.js"></script>

    <script src="js/mainController.js"></script>
    <script src="js/provider/co2Provider.js"></script>
    <script src="js/provider/hrProvider.js"></script>
    <script src="js/provider/positionProvider.js"></script>
    <script src="js/provider/pulseProvider.js"></script>
    <script src="js/provider/sweatProvider.js"></script>
    <script src="js/provider/temperatureProvider.js"></script>
    <script src="js/provider/phoneCallProvider.js"></script>
    <script src="js/provider/smsProvider.js"></script>
    <script src="js/provider/whatsAppProvider.js"></script>
    <script src="js/provider/conversationProvider.js"></script>

    <script src="components/gessami-about/gessami-about.js"></script>
    <script src="components/gessami-help/gessami-help.js"></script>
    <script src="components/user-configuration/user-configuration.js"></script>
    <script src="components/user-information/user-information.js"></script>

    <script src="cordova.js"></script>
</head>

<body ng-app="gessami" ng-controller="MainController" ng-init="initApp()">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top well">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="img/gessami-logo.png" style="padding-top: 7px" ng-click="moveScreen('userInformation')"></img>
        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="moveScreen('userConfiguration')"><span class="glyphicon glyphicon-cog"></span> Configure</a></li>
                <li><a href="#" ng-click="moveScreen('gessamiHelp')"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                <li><a href="#" ng-click="moveScreen('gessamiAbout')"><span class="glyphicon glyphicon-certificate"></span> About</a></li>
            </ul>
        </div>
    </nav>

    <div ng-viewport="main"></div>
</body>

</html>
