<html>

<head>
    <title>Bagoaz</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-new-router/dist/router.es5.js"></script>
    <!--script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script-->

    <script src="js/mainController.js"></script>

    <script src="components/bagoaz-about/bagoaz-about.js"></script>
    <script src="components/bagoaz-gaiak/bagoaz-gaiak.js"></script>
    <script src="components/bagoaz-lexiko/bagoaz-lexiko.js"></script>
    <script src="components/bagoaz-ariketak/bagoaz-ariketak.js"></script>
    <script src="components/bagoaz-ikusi/bagoaz-ikusi.js"></script>
    <script src="components/bagoaz-baloratzea/bagoaz-baloratzea.js"></script>
    <script src="components/bagoaz-bilatzaile/bagoaz-bilatzaile.js"></script>

    <script src="cordova.js"></script>
</head>

<body ng-app="bagoaz" ng-controller="MainController" ng-init="initApp()">
    <div id="navBar">
    <nav style="margin-bottom: 3px;" role="navigation" class="navbar navbar-default navbar-fixed-top well">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="img/bagoaz-logo.png" style="padding-top: 7px" ng-click="moveScreen('bagoazIkusi')"></img>
        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="moveScreen('bagoazGaiak')"><span class="glyphicon glyphicon-book"></span> Gaiak</a></li>
                <!-- In a future version will have lexiko tool. -->
                <!--li><a href="#" ng-click="moveScreen('bagoazLexiko')"><span class="glyphicon glyphicon-comment"></span> Lexiko</a></li-->
                <li><a href="#" ng-click="moveScreen('bagoazAriketak')"><span class="glyphicon glyphicon-pencil"></span> Ariketak</a></li>
                <li><a href="#" ng-click="moveScreen('bagoazBilatzaile')"><span class="glyphicon glyphicon-search"></span> Bilatzaile</a></li>
                <li><a href="#" ng-click="moveScreen('bagoazAbout')"><span class="glyphicon glyphicon-question-sign"></span> Laguntza</a></li>
            </ul>
        </div>
    </nav>
    </div>
    <div ng-viewport="main"></div>
</body>
</html>