<div ng-controller="UserInformationController" style="padding-top: 130px; padding-left: 5px; padding-right: 5px">
    <table>
        <tr>
            <td><span class="glyphicon glyphicon-flash"></span> Pulse:</td>
            <td>
                <input type="text" id="pulseBox" value="{{pulse}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-road"></span> Speed:</td>
            <td>
                <input type="text" id="speedBox" value="{{speed}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-tint"></span> Sweat:</td>
            <td>
                <input type="text" id="sweatBox" value="{{sweat}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-fire"></span> Temperature:</td>
            <td>
                <input type="text" id="temperatureBox" value="{{temperature}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-cloud"></span> Breath:</td>
            <td>
                <input type="text" id="breathBox" value="{{breath}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-leaf"></span> CO2:</td>
            <td>
                <input type="text" id="co2Box" value="{{co2}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-heart"></span> Hearth rating:</td>
            <td>
                <input type="text" id="hrBox" value="{{hr}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-triangle-top"></span> Incremental:</td>
            <td>
                <input type="text" id="incrementalBox" value="{{incremental}}" readonly size="6"></input>
            </td>
        </tr>

        <tr>
            <td><span class="glyphicon glyphicon-map-marker"></span> Position:</td>
            <td>
                <input type="text" id="positionXBox" value="{{locationX}}" readonly size="2"></input>
                <input type="text" id="positionYBox" value="{{locationY}}" readonly size="2"></input>
            </td>
        </tr>

        <tr>
            <th colspan=2 align="center">
                <input type="button" value="Emergency" ng-click="callEmergency()">
            </th>
        </tr>
    </table>

    <div class="alert alert-warning" id="emergencyAlert" style="display: none; padding: 5px; margin: 6px">
        <span>
        <p>Making a call in <span id="currentSeconds"></span> seconds.</p>
        <input type="button" value="cancel" ng-click="cancelEmergency()"></input>
        </span>
    </div>

    <div class="alert alert-danger" id="calling" style="display: none; padding: 5px; margin: 6px">
        <span>
			<p>Calling to emergency...</p>
		</span>
    </div>
</div>
