<ion-view view-title="Ariketa" style="margin-left:3px">
  <ion-content>
    <div ng-controller="BagoazBaloratzea">
      <div ng-hide="zorionak">
        <div>
          <div class="card">
            <div class="item item-text-wrap">
              {{orainAriketa}}
            </div>
          </div>

          <label class="item item-input item-floating-label">
            <textarea type="text" ng-model="erantzun"></textarea>
          </label>
        </div>

        <div id="ikusiEbazpen" ng-class="barClass" ng-show="ebazpen">
          {{ebazpen}}
        </div>
        <div ng-show="ebazpen">
          <button type="button" class="button button-block button-positive" ng-click="jarraitu()" style="margin-top: 60px">Jarraitu</button>
        </div>

        <div ng-hide="ebazpen">
          <button type="button" class="button button-block button-positive" ng-click="zuzendu()">Zuzendu</button>
        </div>

      </div>
      <div ng-show="zorionak">
        <div class="bar bar-balanced">
          <strong>{{zorionak}}</strong>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
