<ion-view view-title="Contacts" style="margin-left:3px">
  <ion-content>
    <div ng-controller="contacts">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search" ng-change="find()">
      </label>
      <div class="list">
        <div ng-repeat="contact in contactList">
          <a class="item item-avatar" ng-click="moveScreen('app/Message/' + contact.name + '/' + contact.phone)">
            <img src="img/no-photo.png">
            <h2>{{contact.name}}</h2>
            <p>{{contact.phone}}</p>
            <!--span class="item-note">18:30</span-->
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

