<div ng-controller="UserConfigurationController" style="padding-top: 130px; padding-left: 5px; padding-right: 5px" ng-controller="configureController">
    <ul>
        <li><span class="glyphicon glyphicon-earphone"></span> Contact emergency:
            <br>
            <input type="text" id="contactEmergencyBox" value="{{contactEmergency}}"></input>
        </li>
        <li><span class="glyphicon glyphicon-send"></span> Notification settings:
            <br>
            <select id="notificationBox">
                <option value="call">Call</option>
                <option value="sms">SMS</option>
                <option value="whatsapp">Whatsapp</option>
            </select>
        </li>
        <li><span class="glyphicon glyphicon-equalizer"></span> Sensitivity:
            <br>
            <select id="sensitivyBox">
                <option value="lowSense">Low</option>
                <option value="mediumSense">Medium</option>
                <option value="highSense">High</option>
                <option value="offSense">Off</option>
            </select>
        </li>
        <li><span class="glyphicon glyphicon-envelope"></span> Message:</li>
        <input type="text" id="mensajeBox" value={{mensaje}}>
        </textarea>
    </ul>
</div>
