<ion-view view-title="Hiztegiak" style="margin-left:3px">
    <ion-content>
        <div ng-controller="BagoazHiztegiak">


            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Hizta" ng-model="hizta">
                    </label>

                    <div style="margin-left: 5px" ng-hide=searching>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model=toggleValue ng-change="toggleAction()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <button class="button button-small button-outline button-positive" ng-click="search()" ng-hide=searching>
                        {{euskEs}}
                    </button>

                    <ion-spinner icon="bubbles" ng-show=searching></ion-spinner>

                </div>
            </div>

            <div class="card" ng-show=translateCard>
                <div class="item item-divider">
                    <strong>{{hizta}}</strong>
                </div>
                <div class="item item-text-wrap">
                    <ul>
                        <li ng-repeat="elem in translateCard" ng-bind-html-unsafe="opt.text">{{elem}}</li>
                    </ul>
                </div>
            </div>


            <div class="card" ng-show=exampleCard>
                <div class="item item-divider">
                    <strong>Ejemplos</strong>
                </div>
                <div class="item item-text-wrap">
                    <dl class="dl-horizontal">
                        <div ng-repeat="elem in exampleCard">
                        <dt>{{elem.euskera}}</dt>
                        <dd>{{elem.gaztelania}}</dd>
                        </div>
                    </dl>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>